<div id="<%= dom_id user %>">
<%= stylesheet_link_tag "table.css" %>
  <tr>
    <td><%= user.id%></td>
    <td><%= user.first_name%></td>
    <td><%= user.last_name%></td>
    <td><%= user.email%></td>
    <td><%= user.age%></td>
    <td><%= user.gender%></td>
    <td><%= user.country%></td>
    <td><%= user.company.company_name%></td>
    <td><%= user.company.no_of_employee%></td>
    <td><%= user.company.address%></td>
    <td><%= user.company.department_name%></td>
    <td><%= user.company.phone_number%></td>
    <td><%= user.role.project_name%></td>
    <td><%= user.role.role_name%></td>
    <td><%= user.role.role_code%></td>
    <td> 
    <%= link_to "Show", user %></td>
  </tr>

</div>
