<div id="<%= dom_id role %>">
<%= stylesheet_link_tag "table.css" %>
  <tr>
    <td><%= role.id%></td>
    <td><%= role.role_id%></td>
    <td><%= role.project_name%></td>
    <td><%= role.role_name%></td>
    <td><%= role.role_code%></td>
    <td> 
    <%= link_to "Show", role %></td>
  </tr>

</div>
